<div class="pt-10 grid grid-cols-1">
    <div class=" mx-auto">
        <h2 class="text-lg font-medium mb-4">Inicio de sesión</h2>
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="username">
            Nombre de usuario
          </label>
          <input class="bg-gray-200 p-2 rounded-lg w-full" name="username" required #user>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="password">
            Contraseña
          </label>
          <input class="bg-gray-200 p-2 rounded-lg w-full" name="password" type="password" required #pass>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-indigo-500 text-white py-2 px-4 rounded-lg hover:bg-indigo-600" (click)="validar(user.value, pass.value)">
            Iniciar sesión
          </button>
        </div>
    
        <div *ngIf="showSuccess" >
            <p class="text-green-500"> Bienvenido usuario: {{usuario}} </p> 
            <div *ngFor="let item of items">
                <li> <a href="">{{ item }} </a> </li>                
            </div>
        </div>
        <div *ngIf="showError" class="text-red-500">Credenciales incorrectas, intentelo nuevamente</div>
    
    </div>
</div>
